.twm-list-group-kkbox .twm-list-group-thumb .group-item .item-copy .item-title {
    font-size: 1em;
    margin-bottom: .5em;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.twm-list-group-kkbox .twm-list-group-thumb .group-item .item-copy .item-content {
    font-size: .875em;
    margin-bottom: .75em;
    color: #ff6100;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
