.HTCVIVE {
  text-align: left;
}

.HTCVIVE .htc1 {
  padding: 30px 48px;
  background-color: #efefef;
}

@media (max-width: 991px) {
  .HTCVIVE .htc1 {
    padding: 1.5rem 20px 0;
  }
}

.HTCVIVE .htc1 .videoIframe .videobox {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 42.25%;
  overflow: hidden;
  border-radius: 25px;
}

.HTCVIVE .htc1 .videoIframe .videobox_pc {}

.HTCVIVE .htc1 .videoIframe .videobox_m {
  display: none;
}

@media (max-width: 991px) {
  .HTCVIVE .htc1 .videoIframe .videobox_pc {
    display: none !important;
  }

  .HTCVIVE .htc1 .videoIframe .videobox_m {
    display: block !important;
    padding-bottom: 140%;
  }
}

@media (max-width: 767px) {
  .HTCVIVE .htc1 .videoIframe .videobox {
    border-radius: 20px;
  }
}

.HTCVIVE .htc1 .videoIframe .videobox iframe,
.HTCVIVE .htc1 .videoIframe .videobox video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.HTCVIVE .htc2 {
  padding: 30px 48px;
  background-color: #efefef;
}

@media (max-width: 991px) {
  .HTCVIVE .htc2 {
    padding: 1.5rem 20px;
  }
}

.HTCVIVE .htc2 .swraps {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 991px) {
  .HTCVIVE .htc2 .swraps {
    display: block;
  }
}

.HTCVIVE .htc2 .swraps .pic {
  width: 278px;
}

@media (max-width: 991px) {
  .HTCVIVE .htc2 .swraps .pic {
    width: 100%;
  }
}

.HTCVIVE .htc2 .swraps .pic img {
  display: block;
  margin: 0 auto;
  width: auto;
}

@media (max-width: 480px) {
  .HTCVIVE .htc2 .swraps .pic img {
    width: 100%;
  }
}

.HTCVIVE .htc2 .swraps .txt {
  width: calc(100% - 328px);
  text-align: left;
}

@media (max-width: 991px) {
  .HTCVIVE .htc2 .swraps .txt {
    width: 100%;
    margin-top: 30px;
  }
}

.HTCVIVE .htc2 .swraps .txt h4 {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.HTCVIVE .htc2 .swraps .txt small {
  letter-spacing: 0rem;
}

.HTCVIVE .htc3 {
  background-color: #fff;
  padding: 30px 48px;
}

@media (max-width: 991px) {
  .HTCVIVE .htc3 {
    padding: 1.5rem 20px;
  }
}

.HTCVIVE .htc3 .swraps ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.HTCVIVE .htc3 .swraps ul>li {
  width: calc(25% - 10px);
  margin: 5px;
}

@media (max-width: 991px) {
  .HTCVIVE .htc3 .swraps ul>li {
    width: calc(50% - 10px);
  }
}

@media (max-width: 640px) {
  .HTCVIVE .htc3 .swraps ul>li {
    width: 100%;
    margin: 0 0 30px;
  }
}

.HTCVIVE .htc3 .swraps ul>li .box .pic {
  margin-bottom: 15px;
  border-radius: 25px;
  overflow: hidden;
}

.HTCVIVE .htc3 .swraps ul>li .box .pic img {
  width: 100%;
}

.HTCVIVE .htc3 .swraps ul>li .box .txt h4 {
  border-left: 5px solid #ff7c04;
  margin-bottom: 15px;
  font-size: 1.2rem;
  padding-left: 10px;
  font-weight: bold;
}

.HTCVIVE .htc3 .swraps ul>li .box .txt ol li {
  margin-bottom: 10px;
}

.HTCVIVE .htc3 .swraps ul>li .box .txt ol li h5 {
  font-weight: bold;
  font-size: 1.1rem;
}

.HTCVIVE .htc3 .swraps ul>li .box .txt ol li p {
  margin-left: 17px;
}

.HTCVIVE .htc4 {
  padding: 30px 48px;
  background-color: #efefef;
}

@media (max-width: 991px) {
  .HTCVIVE .htc4 {
    padding: 1.5rem 20px;
  }
}

.HTCVIVE .htc4 h3 {
  text-align: center;
  margin-bottom: 20px;
}

.HTCVIVE .htc4 .videosFuncs {
  width: 70%;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 991px) {
  .HTCVIVE .htc4 .videosFuncs {
    width: 100%;
  }
}

.HTCVIVE .htc4 .videosFuncs ul {
  display: flex;
}

@media (max-width: 768px) {
  .HTCVIVE .htc4 .videosFuncs ul {
    display: block;
  }
}

.HTCVIVE .htc4 .videosFuncs ul li {
  width: calc(50% - 20px);
  margin: 10px;
}

@media (max-width: 768px) {
  .HTCVIVE .htc4 .videosFuncs ul li {
    width: 100%;
    margin: 0 0 20px;
  }
}

.HTCVIVE .htc4 .videosFuncs .swiper_vive{

}
.HTCVIVE .htc4 .videosFuncs .swiper_vive .swiper-pagination{

}
.HTCVIVE .htc4 .videosFuncs .swiper_vive .swiper-pagination span{

}

.HTCVIVE .htc4 .videosFuncs .op3_ytbox .coverPhoto {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: all linear 0.2s;
}
.HTCVIVE .htc4 .videosFuncs .op3_ytbox .coverPhoto img{
    display: block;
    max-width: 100%;
}

.HTCVIVE .htc4 .videosFuncs .op3_ytbox .coverPhoto .v2-a-play-button__box {
  transition: all linear 0.2s;
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  opacity: 0;
}

.HTCVIVE .htc4 .videosFuncs .op3_ytbox:hover .coverPhoto {
  border: 2px solid #ff7c04;
}

.HTCVIVE .htc4 .videosFuncs .op3_ytbox:hover .coverPhoto .v2-a-play-button__box {
  opacity: 1;
}

@media (max-width: 768px) {
  .HTCVIVE .htc4 .videosFuncs .op3_ytbox .yt_cap .pcSet {
    display: none;
  }
}

.HTCVIVE .htc4 .videosFuncs .op3_ytbox .yt_cap .moSet {
  display: none;
}

@media (max-width: 768px) {
  .HTCVIVE .htc4 .videosFuncs .op3_ytbox .yt_cap .moSet {
    display: block;
  }
}

.HTCVIVE .htc4 .videosFuncs .op3_ytbox .btbox {
  display: flex;
  align-items: center;
}

.HTCVIVE .htc4 .videosFuncs .op3_ytbox .timing {
  font-size: 1rem;
  color: #575757;
}

.video_popuplayer {
  position: fixed;
  z-index: -999;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all linear 0.2s;
  opacity: 0;
}

.video_popuplayer .frames {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.video_popuplayer .frames .p-body {
  max-width: 75%;
  max-height: 80vh;
  background: #fff;
  border-radius: 30px;
  position: relative;
}

@media (max-width: 1440px) {
  .video_popuplayer .frames .p-body {
    max-width: 85%;
    min-width: 50%;
  }
}

@media (max-width: 1280px) {
  .video_popuplayer .frames .p-body {
    max-width: 85%;
    width: 90%;
  }
}

@media (max-width: 640px) {
  .video_popuplayer .frames .p-body {
    border-radius: 20px;
  }
}

.video_popuplayer .frames .p-body .close-btn {
  cursor: pointer;
  position: absolute;
  right: -50px;
  top: 0px;
  background-color: rgb(0, 0, 0);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
  transition: all linear 0.2s;
}

@media (max-width: 640px) {
  .video_popuplayer .frames .p-body .close-btn {
    right: -10px;
    top: -15px;
    background-color: rgb(51, 51, 51);
  }
}

.video_popuplayer .frames .p-body .close-btn b {
  display: block;
  width: 3px;
  height: 22px;
  background: #fff;
  border-radius: 15px;
}

.video_popuplayer .frames .p-body .close-btn b:last-child {
  transform: rotate(90deg);
  position: absolute;
}

.video_popuplayer .frames .p-body .close-btn:hover {
  background-color: rgb(51, 51, 51);
}

.video_popuplayer .frames .p-body .p-body-box {
  padding: 35px;
}

@media (max-width: 640px) {
  .video_popuplayer .frames .p-body .p-body-box {
    padding: 20px;
  }
}

.video_popuplayer .frames .p-body .p-body-box .p-body-h3 {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  line-height: 150%;
  color: #000;
}

@media (max-width: 768px) {
  .video_popuplayer .frames .p-body .p-body-box .p-body-h3 {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .video_popuplayer .frames .p-body .p-body-box .p-body-h3 {
    font-size: 18px;
  }
}

.video_popuplayer .frames .p-body .p-body-box .p-body-content {
  overflow: auto;
  max-height: calc(85vh - 105px - 4rem);
  line-height: 140%;
}

@media (max-width: 1440px) {
  .video_popuplayer .frames .p-body .p-body-box .p-body-content {
    max-height: calc(85vh - 105px - 1rem);
  }
}

@media (max-width: 640px) {
  .video_popuplayer .frames .p-body .p-body-box .p-body-content {
    max-height: calc(85vh - 105px - 2.4rem);
  }
}

.video_popuplayer .frames .p-body .p-body-box .p-body-content::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 10px;
}

.video_popuplayer .frames .p-body .p-body-box .p-body-content::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.video_popuplayer .frames .p-body .p-body-box .p-body-content::-webkit-scrollbar-thumb {
  background-color: #007bbc;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
}

.video_popuplayer .frames .p-body .p-body-box .p-body-content img {
  margin: 0 auto;
  display: block;
}

.video_popuplayer .frames .p-body .p-body-box .p-body-content img+span.imgInfo {
  display: block;
  font-size: 0.7rem;
  text-align: center;
  font-weight: normal;
  margin-top: 3px;
  line-height: 140%;
}

.video_popuplayer .frames .p-body .p-body-box .p-body-content h4 {
  text-align: center;
  font-weight: bold;
  line-height: 140%;
}

@media (max-width: 768px) {
  .video_popuplayer .frames .p-body .p-body-box .p-body-content h4 {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .video_popuplayer .frames .p-body .p-body-box .p-body-content h4 {
    font-size: 16px;
  }
}

.video_popuplayer .frames .p-body .p-body-box .p-body-content p {
  margin: 10px 0;
  line-height: 140%;
  color: #000;
}

@media (max-width: 768px) {
  .video_popuplayer .frames .p-body .p-body-box .p-body-content p {
    font-size: 14px;
  }
}

.video_popuplayer .frames .p-body .p-body-box .p-body-content .article-block img {
  width: 60%;
}

@media (max-width: 1024px) {
  .video_popuplayer .frames .p-body .p-body-box .p-body-content .article-block img {
    width: 100%;
  }
}

.video_popuplayer .frames .p-body.hasBtns {
  max-height: 90vh;
  background: unset;
  border-radius: 0;
}

.video_popuplayer .frames .p-body.hasBtns .p-body-box {
  background: #fff;
  border-radius: 30px;
}

.video_popuplayer .frames .p-body.hasBtns .p-body-box .p-body-content {
  max-height: calc(90vh - 105px - 4rem - 40px);
}

@media (max-width: 1440px) {
  .video_popuplayer .frames .p-body.hasBtns .p-body-box .p-body-content {
    max-height: calc(85vh - 105px - 4rem - 40px);
  }
}

@media (max-width: 1280px) {
  .video_popuplayer .frames .p-body.hasBtns .p-body-box .p-body-content {
    max-height: calc(85vh - 105px - 5rem - 40px);
  }
}

@media (max-width: 768px) {
  .video_popuplayer .frames .p-body.hasBtns .p-body-box .p-body-content {
    max-height: calc(90vh - 105px - 7.5rem - 40px);
  }
}

.video_popuplayer .frames .p-body.hasBtns .article-btns-style .btnrow {
  margin-top: 1rem;
}

@media (max-width: 640px) {
  .video_popuplayer .frames .p-body.hasBtns .article-btns-style .btnrow {
    max-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.video_popuplayer .frames .p-body.hasBtns .article-btns-style .btnrow a {
  cursor: pointer;
  background-color: #ff6700;
  background-image: none;
  max-width: 60%;
  color: #fff;
  border-radius: 35px;
  height: 35px;
  line-height: 100%;
}

.video_popuplayer .frames .p-body.hasBtns .article-btns-style .btnrow a:hover, .video_popuplayer .frames .p-body.hasBtns .article-btns-style .btnrow a:focus {
  background-color: #0f5ef6;
}

@media (max-width: 640px) {
  .video_popuplayer .frames .p-body.hasBtns .article-btns-style .btnrow a {
    max-width: 40%;
    font-size: 12px;
    margin: 0 !important;
    line-height: 150%;
  }
}

.video_popuplayer .frames .p-body.hasBtns .article-btns-style .btnrow.multiple a {
  padding: 0.5em 10px;
  max-width: unset !important;
  flex: none;
}

@media (max-width: 640px) {
  .video_popuplayer .frames .p-body.hasBtns .article-btns-style .btnrow.multiple a {
    max-width: 30%;
  }
}

.video_popuplayer .frames .p-body .video-container {
  /*width: 500px;*/
}

@media (max-width: 480px) {
  .video_popuplayer .frames .p-body .video-container {
    width: 100%;
  }
}

@media (min-height: 700px) and (min-width: 1024px) {
  .video_popuplayer .frames .p-body .video-container {
    width: 800px;
  }
}

.video_popuplayer.active {
  z-index: 999999;
  opacity: 1;
  background: rgba(0, 0, 0, 0.8117647059);
}

@media (max-width: 768px) {
  .video_popuplayer .pcSet {
    display: none;
  }
}

.video_popuplayer .moSet {
  display: none;
}

@media (max-width: 768px) {
  .video_popuplayer .moSet {
    display: block;
  }
}

/*# sourceMappingURL=op_Y25_HTCVIVE.css.map */

/* 手機裝置video相關樣式 */
@media (max-width: 768px) {
  .HTCVIVE .htc1 .videoIframe .videobox {
    position: relative;
    cursor: pointer;
  }

  .HTCVIVE .htc1 .videoIframe .videobox::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    z-index: 5;
    opacity: 0.8;
    transition: opacity 0.3s ease;
    opacity: 0;
  }

  .HTCVIVE .htc1 .videoIframe .videobox::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-left: 15px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    z-index: 6;
    margin-left: 3px;
    transition: opacity 0.3s ease;
    opacity: 0;
  }

  .HTCVIVE .htc1 .videoIframe .videobox video {
    cursor: pointer;
  }

  /* 播放提示樣式 */
  .mobile-play-hint {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    transition: opacity 0.3s ease;
    pointer-events: auto;
  }

  .mobile-play-hint:hover {
    opacity: 0.8;
  }

  /* 當影片播放時隱藏播放按鈕 */
  .HTCVIVE .htc1 .videoIframe .videobox.playing::after,
  .HTCVIVE .htc1 .videoIframe .videobox.playing::before {
    opacity: 0;
    pointer-events: none;
  }

  /* 確保video在播放時不會被暫停 */
  .HTCVIVE .htc1 .videoIframe .videobox.playing video {
    pointer-events: auto;
  }
}

/* 確保video在手機裝置上正確顯示 */
@media (max-width: 480px) {
  .HTCVIVE .htc1 .videoIframe .videobox {
    border-radius: 15px;
  }

  .HTCVIVE .htc1 .videoIframe .videobox video {
    border-radius: 15px;
  }

  .mobile-play-hint {
    font-size: 12px;
    padding: 8px 16px !important;
  }
}

/* 改善video載入狀態 */
.HTCVIVE .htc1 .videoIframe .videobox video:not([src]) {
  background: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HTCVIVE .htc1 .videoIframe .videobox video:not([src])::after {
  content: '影片載入中...';
  color: #666;
  font-size: 14px;
}

/* 防止video在滑動時被意外暫停 */
.HTCVIVE .htc1 .videoIframe .videobox video {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

/* 改善手機裝置的觸控體驗 */
@media (max-width: 768px) {
  .HTCVIVE .htc1 .videoIframe .videobox {
    touch-action: manipulation;
  }

  .HTCVIVE .htc1 .videoIframe .videobox video {
    touch-action: manipulation;
  }
}


.htcGlassesSize {
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: 400;
  font-size: 0.7rem;
  color: #636363;
  margin-left: 15px;
}

.htcGlassesSize .size {
  margin-right: 25px;
}

.htcGlassesSize .size p {
  font-weight: bold;
}

.htcGlassesSize .size ul {}

.htcGlassesSize .size li {}

@media (max-width: 480px) {
  .htcGlassesSize {
    margin-top: 15px;
  }
}