                            @charset "utf-8";
                        /* CSS Document */
                        
                        .s_desktop {
                            display: block;
                        }
                        
                        .s_mobile {
                            display: none;
                        }
                        
                        #PAYMENT_HEADER {
                            display: block;
                        }
                        /* #WAPPER{
	width:100%;
	max-width:1600px;
	overflow: hidden;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	background-color: #ffffff;
	padding-top: 0px;
} */
                        
                        #WAPPER .ph1 {
                            font-size: 3.5em;
                            padding-bottom: 10px;
                            display: block;
                            line-height: 50px;
                            color: #ec6506;
                            text-align: center;
                        }
                        
                        #WAPPER .ph3 {
                            font-size: 1.9em;
                            padding-bottom: 35px;
                            display: block;
                            line-height: 1.5em;
                            color: #818080;
                            text-align: center;
                            width: 100%;
                            max-width: 1000px;
                            margin: 0 auto;
                        }
                        
                        #ALEFT {
                            float: left;
                            width: 33%;
                        }
                        
                        #ALEFT img {
                            width: 100%;
                            height: auto;
                        }
                        
                        #IMG img {
                            width: 100%;
                            height: auto;
                        }
                        
                        #IMG2 img {
                            width: 80%;
                            height: auto;
                            text-align: center;
                            margin-top: 0px;
                            margin-right: auto;
                            margin-bottom: 0px;
                            margin-left: auto;
                        }
                        
                        #IMG1 img {
                            width: 50%;
                            height: auto;
                        }
                        
                        #WAPPER .boxa {
                            float: left;
                            height: 65px;
                            width: 45%;
                            padding-left: 2%;
                            padding-right: 2%;
                            margin-top: 10px;
                            margin-bottom: 10px;
                        }
                        
                        #WAPPER .boxa img {
                            width: 45%;
                            height: auto;
                        }
                        
                        #WAPPER .boxb {
                            float: left;
                            height: 62px;
                            width: 95%;
                            padding-left: 2%;
                            padding-right: 2%;
                            margin-top: 10px;
                            margin-bottom: 10px;
                        }
                        
                        #WAPPER .input {
                            border: 2px solid #3ac3d0;
                            background-color: #FFF;
                            line-height: 55px;
                            font-size: 30px;
                            color: #5f6f78;
                            padding: 3px;
                            margin-bottom: 8px;
                            text-align: center;
                            width: 100%;
                            height: 55px;
                        }
                        
                        #WAPPER .buttona {
                            clear: both;
                            text-align: center;
                            margin-top: 0px;
                            margin-right: auto;
                            margin-bottom: 0px;
                            margin-left: auto;
                            padding-top: 2%;
                            width: 30%;
                            padding-bottom: 2%;
                        }
                        
                        #NOTEa {
                            width: 94%;
                            max-width: 1000px;
                            margin-top: 0px;
                            margin-right: auto;
                            margin-bottom: 0px;
                            margin-left: auto;
                            padding: 3%;
                        }
                        
                        #NOTEa .title {
                            font-size: 17px;
                            font-weight: 900;
                            color: #0D8F8D;
                        }
                        
                        #NOTEa ul {}
                        
                        #NOTEa li {
                            list-style-type: decimal;
                            list-style-position: outside;
                            text-indent: -1px;
                            margin-left: 16px;
                            font-size: 15px;
                            line-height: 30px;
                            color: #333;
                            font-family: Arial, Helvetica, sans-serif;
                        }
                        
                        #NOTEa li a {
                            color: #CD5B07;
                        }
                        
                        #NOTEa ul ul {
                            margin-right: 0px;
                        }
                        
                        #NOTEa ul ul li {
                            list-style-type: upper-roman;
                            list-style-position: outside;
                            text-indent: -1px;
                            margin-left: 0px;
                            font-size: 15px;
                            line-height: 30px;
                            color: #666;
                        }
                        
                        #NOTEa ul ul ul {
                            margin-right: 0px;
                        }
                        
                        #NOTEa ul ul ul li {
                            list-style-type: lower-alpha;
                            list-style-position: outside;
                            text-indent: -1px;
                            margin-left: 0px;
                            font-size: 15px;
                            line-height: 30px;
                            color: #666;
                        }
                        
                        #step_1200 img {
                            width: 100%;
                            height: auto;
                            display: block;
                        }
                        
                        #step_600 img {
                            display: none;
                            width: 100%;
                            height: auto;
                        }
                        /* 置底 */
                        
                        .download_line {
                            width: 100%;
                            max-width: 1000px;
                            position: fixed;
                            bottom: 0px;
                            z-index: 9;
                            margin-top: 0px;
                            margin-right: auto;
                            margin-bottom: 0px;
                            margin-left: auto;
                        }
                        /* 選單 */
                        
                        #MENU {
                            width: 100%;
                            max-width:1600px;
                            text-align: center;
                            overflow: hidden;
                            margin: 0 auto;
                            padding-bottom: 40px;
                        }
                        
                        #MENU2 {
                            width: 100%;
                            max-width: 1000px;
                            text-align: center;
                            overflow: hidden;
                            margin: 0 auto;
                            padding-bottom: 40px;
                        }
                        
                        #MENU2 .xbox {
                            width: 33%;
                            float: left;
                            padding-right: 2%;
                            padding-left: 2%;
                        }
                        
                        #WAPPER {
                            width: 100%;
                            margin: 0px auto;
                            overflow: hidden;
                            position: relative;
                            padding-top: 0px;
                        }
                        
                        #step_1200 img {
                            width: 100%;
                            height: auto;
                            display: block;
                        }
                        
                        #step_600 img {
                            display: none;
                            width: 100%;
                            height: auto;
                        }
                        /* --手機版型------------------------------------- */
                        
                        @media screen and (max-width: 768px) {
                            .s_desktop {
                                display: none;
                            }
                            .s_mobile {
                                display: block;
                            }
                            #WAPPER .ph1 {
                                font-size: 2em;
                                display: block;
                                line-height: 30px;
                                padding-top: 15px;
                                color: #ec6506;
                                text-align: center;
                            }
                            #WAPPER .ph3 {
                                font-size: 1.2em;
                                padding-bottom: 20px;
                                display: block;
                                line-height: 1.3em;
                                color: #818080;
                                text-align: center;
                                width: 100%;
                                max-width: 1000px;
                            }
                            #ALEFT {
                                float: left;
                                width: 33%;
                            }
                            #ALEFT img {
                                width: 100%;
                                height: auto;
                            }
                            #WAPPER {
                                padding-top: 0px;
                            }
                            #WAPPER .boxa {
                                float: left;
                                height: 52px;
                                width: 44%;
                                padding-left: 2%;
                                padding-right: 2%;
                                margin-top: 10px;
                                margin-bottom: 10px;
                            }
                            #WAPPER .boxa img {
                                width: 60%;
                                height: auto;
                            }
                            #WAPPER .boxb {
                                float: left;
                                height: 62px;
                                width: 93%;
                                padding-left: 2%;
                                padding-right: 2%;
                                margin-top: 6px;
                                margin-bottom: 6px;
                            }
                            #NOTEa {
                                width: 91%;
                                max-width: 1000px;
                                margin-top: 0px;
                                margin-right: auto;
                                margin-bottom: 0px;
                                margin-left: auto;
                                padding-top: 3%;
                                padding-right: 3%;
                                padding-bottom: 3%;
                                padding-left: 6%;
                            }
                            #NOTEa li {
                                list-style-type: decimal;
                                list-style-position: outside;
                                text-indent: -1px;
                                margin-left: 16px;
                                font-size: 17px;
                                line-height: 30px;
                                color: #333;
                                font-family: Arial, Helvetica, sans-serif;
                            }
                            #WAPPER .input {
                                border: 2px solid #3ac3d0;
                                background-color: #FFF;
                                line-height: 40px;
                                font-size: 20px;
                                color: #5f6f78;
                                padding: 3px;
                                margin-bottom: 8px;
                                text-align: center;
                                width: 100%;
                            }
                            #WAPPER .buttona {
                                clear: both;
                                text-align: center;
                                margin-top: 0px;
                                margin-right: auto;
                                margin-bottom: 0px;
                                margin-left: auto;
                                padding-top: 2%;
                                width: 45%;
                                padding-bottom: 1%;
                            }
                            #step_1200 img {
                                width: 100%;
                                height: auto;
                                display: none;
                            }
                            #step_600 img {
                                display: block;
                                width: 100%;
                                height: auto;
                            }
                            #MENU {
                                width: 100%;
                                padding-bottom: 0;
                            }
                            @media screen and (max-width: 480px) {
                                .game_area img {
                                    width: 90px;
                                    height: 90px;
                                    margin-bottom: 5px;
                                }
                                #WAPPER .ph1 {
                                    font-size: 2em;
                                }
                                #WAPPER .ph3 {
                                    font-size: 1.1em;
                                }
                            }