/*.owl-carousel .item {margin: auto 6px}*/
.item h3, .discountArea h3 {
	text-align:left;
	margin-top:5px;
	font-size: 2rem;
	font-family: 'Noto Sans TC', 'PingFang TC', "微軟正黑體", "sans-serif";
}
.bigBanner .btnArea {
	display:block;
	width:100%;
	height:60px;
	clear:both;
}
.bigBanner h2 {
	margin:0;
	display:block;
	float:left;
	font-size: 1.7rem;
	font-family: 'Noto Sans TC', 'PingFang TC', "微軟正黑體", "sans-serif";
}
.bigBanner .goStore {
	width: 170px;
	margin: 25px auto;
	padding: 10px;
	font-size: 1.6rem;
	background-color: #2ba34c;
	font-family: 'Noto Sans TC', 'PingFang TC', "微軟正黑體", "sans-serif";
	border-radius: 5px;
	color: #FFF;
	box-sizing: border-box;
	cursor: pointer;
	text-align:center;
	padding: 7px 20px;
}
.bigBanner a {
	color:#FFF;
}
.bigBanner .btnArea a.btn:hover {
	color:#FFFF00;
}
.bigBanner .discountArea {
	padding:2rem;
	display:block;
	margin:10px 0 20px 0;
	width:100%;
	clear:both;
}
.bigBanner .mT10 {
	margin-top:50px;
}
footer {
	font-family: 'Noto Sans TC', 'PingFang TC', "微軟正黑體", "sans-serif";
}
.owl-theme .owl-nav {
	position: relative;
	margin-bottom: 2em;
	top: -260px;
	font-size: 3em;
}
.owl-prev {
	position:absolute;
	left:0;
}
.owl-next {
	position:absolute;
	right:0;
}
.sGreen {
	margin-bottom: -0.3rem;
	margin-right: 5px;
	display: inline-block;
	height: 2.7rem;
	width: 0.5rem;
	background-color: #2ba34c;
}
.tH3 {
	text-align:left;
	margin-top:5px;
	font-size: 2.5rem;
	font-family: 'Noto Sans TC', 'PingFang TC', "微軟正黑體", "sans-serif";
	color:#0081c6;
	font-weight:500;
}
.tga {
	font-weight:500;
	font-size: 2.5rem;
	font-family: 'Noto Sans TC', 'PingFang TC', "微軟正黑體", "sans-serif";
	color:#666;
}
.hlT {
	font-size: 3.5rem;
	color:#e94732;
	font-weight:500;
	font-family:Arial, Helvetica, sans-serif;
	font-family: 'Noto Sans TC', 'PingFang TC', "微軟正黑體", "sans-serif";
}
.item h3 {
	text-align:center;
	margin-top:20px;
}
/*@media screen and (max-width: 768px) {
.owl-carousel .item {
	margin: auto 10px;
	padding:10px 25px;}
.item h3{
	text-align:center;
	margin-top:20px;}
.bigBanner .btnArea{
	display:block;
	width:100%;
	height:60px;
	clear:both;}
.bigBanner h2{
	width:100%;
	margin:0;
	display:block;
	float:left;
	clear:both;}
.bigBanner .mT10 h2{
	font-size: 2rem;}
.bigBanner .btnArea .btn{
	vertical-align:middle;
	width: 144px;
	margin:10px 0 0 0;
	display:inline-block;
	float:right;}
	}*/
.whiteArea {
	display:block;
	width:100px;
	height: 10px;
	clear: both;
}
.content .multiLineText {
	font-family: 'Noto Sans TC', 'PingFang TC', "微軟正黑體", "sans-serif";
	font-weight:500;
}
 @media only screen and (min-width: 1000px) {
.owl-carousel .item {
	margin: auto 0px;
	padding:10px 40px;
}
.bigBanner h2 {
	font-size: 2rem;
	width:100%;
	margin:0;
	display:block;
	float:left;
	clear:both;
}
.item h3, .discountArea h3 {
	margin:10px 0 0 0;
}
}
@media screen and (min-width: 421px) and (max-width: 768px) {
.bigBanner .owl-carousel .item {
	margin: auto 10px;
	padding:10px 25px;
}
.item h3 {
	text-align:center;
	margin-top:20px;
}
.bigBanner .btnArea {
	display:block;
	width:100%;
	height:60px;
	clear:both;
}
.bigBanner h2 {
	width:100%;
	margin:0;
	display:block;
	float:left;
	clear:both;
}
.bigBanner .mT10 h2 {
	font-size: 2rem;
}
}
 @media screen and (max-width: 420px) {
.bigBanner .mT10 h2 {
	width:100%;
	font-size: 1.5rem;
}
.owl-carousel .item {
	margin: auto 10px;
	padding:10px 20px;
}
.owl-theme .owl-nav {
	position: relative;
	top: -290px;
	font-size: 3em;
}
.tH3 {
	font-size: 1.7rem;
	margin-top:0;
}
.hlT {
	font-size: 2.3rem;
	line-height: 1.5rem;
}
.tga {
	font-size: 1.7rem;
	margin-top:0;
}
.bigBanner .discountArea {
	padding:0;
}
.item h3, .discountArea h3 {
	margin-bottom:10px;
	font-size: 1.3rem;
}
.bigBanner h2 {
	font-size: 1.5rem;
	width:100%;
	margin:0;
	display:block;
	float:left;
	clear:both;
}
.content {
	margin: auto 15px;
}
.sGreen {
	height: 2rem;
}
.bigBanner .goStore {
	width: 150px;
	font-size: 1.3rem;
	margin: 13px auto 45px;
}
}
 @media screen and (max-width: 320px) {
.item h3, .discountArea h3 {
	font-size: 1rem;
}
.owl-theme .owl-nav {
	position: relative;
	margin-bottom: 3em;
	top: -230px;
	font-size: 3em;
}
.tH3 {
	font-size: 1.4rem;
}
.hlT {
	font-size: 2rem;
}
.bigBanner .mT10 {
	margin-top: 30px;
}
}
